.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border: 0;
  transition: all .2s ease-in-out;
  &:hover{
    background-color:#efefef;
    transform: scale(1.05);
  }
  .card-body {
    display: flex;
    align-items: center;

    .card-image {
      height: 75px;
      width: 75px;
    }

    .card-details {
      h3 {
        font-size: 1.5em;
      }

      p {
        margin: 0;
      }
    }
    .card-btn {
      margin-left: auto;
    }
  }
}
